.content-about__about {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: $vw;
    height: $vh + 50vh;
    background-image: url('/assets/images/coffish-text.png');
}

.about__header {
    font-size: $fs_mh;
}
.about__company {
    @include spce;
    width: $vw;
    height: 500px;
}
.about__cafes {
    @include spce;
    width: $vw;
    height: 500px;
}
.info__text {
    font-size: $fs_p + 3px;
}
.info__header {
    font-size: $fs_mh;
    margin: 0px 0px 15px 0px;
}
// company

.company__image {
    width: 350px;
    height: 500px;
    border-radius: $br;
}

.info__text__header {
    font-size: $fs_h;
}

// cafes

.cafes__image {
    width: 700px;
    height: 500px;
    border-radius: $br;
}

@media screen and (max-width: 500px){
    .content-about__about {
        height: $vh * 3 + 20vh;
        background-image: none;
    }
    .about__company {
        padding: 20px;
        height: 110vh;
    }
    .about__cafes {
        padding: 20px;
        height: 110vh;
    }
    .cafes__image {
        width: 90vw;
        height: 35vh;
    }
    .info__text__benefits {
        li {
            margin: 0px 0px 0px 20px;
        }
    }
}