.main__content-landing {
    @include center;
    width: $vw;
    height: $vh;
    background-image: url('https://images.unsplash.com/photo-1561766926-a7c863179e15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
}

.header {
    @include center;
    width: 500px;
}

.header__header {
    text-align: center;
    font-size: $fs_lh;
}
.header__subheader {
    text-align: center;
    font-size: $fs_h;
}