.footer {
    @include center;
    width: $vw;
    height: 200px;
    background: $bg_foot;
}

.footer__feedback {
    @include center;
    width: 400px;
}
.feedback__list {
    font-size: $fs_p;
    list-style-type: none;
    li {
        margin: 0px 0px 10px 0px;
    }
}

.footer__dev {
    @include center;
    justify-content: space-evenly;
    width: 300px;
    font-size: $fs_p + 5px;
}
