.content-about__price {
    @include spce;
    width: $vw;
    @media screen and (min-width: 501px) {
        height: $vh;
    }
    background-image: url('/assets/images/coffee-bg.png');
}
.price__card {
    @include center;
    width: 350px;
    height: 600px;
    padding: 20px;
    background: $bg_card;;
    border-radius: $br;
}
.card__header {
    text-align: center;
    font-size: $fs_h;
}
.card__image {
    width: 200px;
    height: 300px;
    border-radius: $br;
    user-select: none;
}
.card__cost {
    @include center;
    width: 200px;
    font-size: $fs_h + 5px;
}
.card__description {
    text-align: center;
    font-size: $fs_p;
    width: 300px;
}

@media screen and (max-width: 500px) {
    .price__card {
        border-radius: 0px;
    }
}