@font-face {
    font-family: Vinnytsia City;
    src: url('/assets/fonts/VinnytsiaSansReg.ttf');
}
@font-face {
    font-family: Namu;
    src: url('/assets/fonts/NAMU-1750.ttf');
}

$nff: 'Namu', sans-serif;
$vff: 'Vinnytsia City', sans-serif;